:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #FFFFF0;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fade-in {
  opacity: 0;
  animation: fadeIn 0.3s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #FFFFF0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}



/* HOME PAGE */
.home-layout {
  justify-content: center;
  align-items: center;
}

/* Heading Component */
.heading-div {
  justify-content: center !important;
  padding: 1em 4em 0em 4em;
  margin-top: 1em;
}

.heading-h1 {
  font-weight: bold;
  margin: auto;
  justify-self: center;
  transition: color 0.5s ease;
}

.heading-h1:hover{
  color: #5F7ADB;
}

/* Paragraph Component */
.paragraph-div {
  display: flex;
  justify-content: center;
}

.button-div {
  display: flex;
  justify-content: center;
}

.button1 {
  width: 18em;
  padding: 0em 2em 0em 2em;
}

.card-col {
  padding: 50px;
  display: flex;
  justify-content: center;
}

.card-div:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.12);
}

.card-div:hover .card-body{
  background-color: #171A21;
  color:rgba(255, 255, 255);
  transition: background-color 0.3s ease-in-out;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.card-body {
  background-color: #fff;
  color:rgba(255, 255, 255);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.card-image {
  height: 200px;
  object-fit: contain;
  opacity: 60%;
  transition: opacity 0.3s ease-out;
}

.card-div:hover .card-image {
  height: 200px;
  opacity: 90%;
}

/* CALCULATOR */


.navbar {
  justify-content: center !important;
  position: sticky !important;
  top: 0 !important;
  padding: 0px 20px 0px 20px !important;
  border-radius: 10px !important;
  z-index: 2;
}


.navbar-name {
  margin-right: 200px !important;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif  !important;
  font-size: large !important;
  color: #1a1a1a;
}

.button2 {
  justify-content: center;
  align-items: center;
  padding: 5px 20px 5px 20px !important;
  border-radius: 0px !important;
}

.calc-button {
  width: 70px;
  height: 60px;
  background-color: #e5e5e5!important;
  border-width: 5px;
}

#calc-button-first-row .calc-button{
  background-color: #9d9d9d !important;
  color: #FFFFF0;
}

#calc-button-first-row :first-child{
  background-color: #5a5a5a !important;
}

#calc-button-first-row :nth-child(2){
  background-color: crimson !important;
}

#calc-button-row :last-child {
  background-color: #9d9d9d !important;
  color: #FFFFF0;
}

#calc-button-last-row :last-child {
  background-color: #ff9d2d !important;
  color: #FFFFF0;
}

.calculator-body {
  width: 350px!important;
  height: 515px;
  margin-top: 60px;
  border: #171A21;
  border-radius: 18px;
  background-color: rgb(55, 55, 55);
}

.calculator-text-stack {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}


.calc-text {
  display: flex;
  justify-content: end;
  height: 40px;
  padding: 10px;
  border-radius: 0px 0px 0px 0px;
  background-color: #f0f0f0;
  width: 307px;
}

#calc-button-first-row, #calc-button-row, #calc-button-last-row{
  display: flex;
  justify-content: center;
}

.g-3.row.row-cols-md-2.rows-cols-1 {
  justify-content: center;
}

.hobbies-body {
  display: flex;
  justify-content: center;
}

.json-card {
  margin-top: 20px;
  height: 250px !important;
  border-radius: 25px!important;
}

.json-card-body {
  border-radius: 25px!important;
  background-color: #ffffff;
}

.json-card:hover .json-card-body{
  background-color: #f5f5f5;
  box-shadow: 2px 8px 16px rgba(0, 0, 0, 0.12);
  transition: background-color 0.2s ease-in-out;

}

.justify-content-md-center {
  padding: 2vw 10vw;
}

.user-list-heading {
  display: flex;
  justify-content: center;
}

heading {
  color:#323232;
}
strong {
  color:#4b4b4b;
}

.cashew {
  padding-right: 135px;
  padding-bottom: 5px;
  color: #e8e8e8;
}

/* Hobbies */


.hobbies-content-div{
  display: flex;
  justify-content: space-between;
  align-items: end;
  height: 90vh;
  margin-bottom: 30px;
  background-color: #ffffff !important;
  h1 {
    margin-bottom: 1em;
  }
}



.sidebar {
  width: 200px;
  background-color: #fff;
  padding: 5px;
  position: fixed;
  /* Add other sidebar styles as needed */
}

.sidebar-heading {
  padding: 5%;
  margin-bottom: 20%;
  font-size: 3em !important;
}

.sidebar-heading:hover {
  color: #002467 !important;
  text-shadow: 10px 5px 10px #c9eaf2b6;
  transition: box-shadow 0.3s ease;
  border-radius: 20px;
  width: fit-content;

}

.sidebar-heading:hover {
  cursor: pointer;
}

@media (min-width: 768px) {
  /* Apply styles for screens wider than 767 pixels (desktop) */
  .sidebar {
    position: sticky;
    top: 0;
    height: 100vh;
    width: 20vw !important;
    padding-top: 10% !important;
    margin-left: 20px;
  }
  .side-button {
    padding: 5% 5% 5% 6% !important;
    margin: 3% 0% 3% 0% !important;
    text-align: left !important;
    background-color: #fff !important;
    border: #fff!important;
    margin-right: 40px !important;
  }
  .content {
    width: 50vw !important;
  }
}

@media (max-width: 767px) {
  .content {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .sidebar {
    display: inline-block !important;
    position: static;
    top: 0;
    height: auto;
    width: 100%;
  }
  .app-container {
    display: inline-block;
  }
}
.side-button:hover {
  border-bottom: 2px solid #3f3f3f !important;
  background-color: #e5e5e5 !important;
  border-radius: 0px;
}

button.side-button:active,
button.side-button:focus {
  border-bottom: 2px solid #3f3f3f !important;
  border-radius: 0px;
}


.app-container {
  display: flex;
  width: 100%;
}

.content {
  padding: 2%;
}

#landing {
  display: flex;
  justify-content: end
}

#landing h1{
  font-size: 6em;
  font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-align: end;
  transition: color 0.5s ease;
}

#landing h1:hover {
  color: #5F7ADB;
}

#landing div{
  margin: 13em 3em 0em 0em;
  display: block;
  width: 21.8em;
  align-items: end;
}

.hobby-image {
  height: 80%;
  object-fit: contain;

}

.hobbies-content-div h4{
  color: #fff;
  background-color: #b67c00;
  padding: 20px;
}